<%- include("partials/header") %>

<%- include("partials/about") %>
<%- include("partials/projects") %>
     
<%- include("partials/testimonials") %> 

 
      
       <%- include("partials/footer") %>
       <script src="script.js"></script>
</body>

       </html>

      